/.ipynb_checkpoints/
star0000-1.csv
olive_oil2.csv
test_excel_new.xlsx
test_excel_old.xls
kobis20200630.csv
train.csv
test.csv
mnist_pred.csv
mnist_pred2.csv
/project/
/project2/
rf_best_model_
lgbm_best_model_
submission_trail_ver_1.csv
submission_trail_ver_2.csv
submission_trail_ver_3.csv
submission_trail_ver_4.csv
submission_trail_ver_5.csv
submission_trail_ver_6.csv
submission_trail_ver_7.csv
submission_trail_ver_1.pkl
submission_trail_ver_2.pkl
submission_trail_ver_3.pkl
submission_trail_ver_4.pkl
submission_trail_ver_5.pkl
submission_trail_ver_6.pkl
submission_trail_ver_7.pkl
submission_trail_ver_avg.csv
submission_trail_ver_avg_2.csv
submission_trail_ver_avg_weight.csv
submission_trail_ver_stacking.csv
submission_trail_ver_stacking.pkl
test.h5